*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
    .logo{
        img{
            height: 70px;
            padding: 5px 0px;
        }
    }
}




// register page styling
.registerPage{
    padding: 100px 10%;
    width: 100%;
    
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 20px 2px #3215ce54;
        border-radius: 10px;

        form{
            display: inline-grid;
            width: 100%;
            .errorMessage{
                background: #ff2828;
                color: #fff;
                text-align: center;
                padding: 8px;
                margin-bottom: 20px;
                border-radius: 2px;
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.22);
                text-transform: capitalize;
                }   
            }
            input{
                width: 100%;
                margin: 5px 0;
                height: 40px;
                border: 1px solid rgb(190, 190, 190);
                border-radius: 4px;
                padding: 0px 4px;
            }
            button{
                margin-top: 50px;
                padding: 16px 50px;
                border: none;
                color: #fff;
                background: linear-gradient(50deg,rgb(9, 116, 255),rgb(0, 89, 161));
                border-radius: 4px;
                cursor: pointer;
                transition: background .2s ease-in-out;
                font-weight: 800;
                &:hover{
                    background: linear-gradient(50deg,rgb(0, 89, 161),rgb(9, 116, 255));
                }
            }
        }
    }


// vote page
main{
    padding: 10px 0px;

    h1{
        text-align: center;
        font-size: 18px;
        font-weight: 100;
    }

    .header{
        padding:10px;
        margin: 10px;
        border: 1px dashed rgb(192, 192, 192);
        P{
            margin: 20PX 0;
            padding-left: 6px;
            font-weight: 800;
            border-left: 5px solid rgb(26, 125, 255);
        }
        .container{
           
            display: flex;
            justify-content: space-between;
            .section{
                img{
                    height: 150px;
                    border-radius: 4px;
                }
            }
        }
    }
} 